body{
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url("https://static.vecteezy.com/system/resources/thumbnails/036/118/771/original/medical-pills-and-stethoscope-high-quality-4k-footage-video.jpg")
}